@import "tailwindcss";

@theme {
    --color-primary: #3D6390;
    --color-muted: #f8f8f8;
    --color-muted-dark: #CFCFCF;
    --color-dark: #242424;
    --color-dark-gray: #393939;  
    --color-dark-light-gray: #5f5f5f;  
  }